.horizontal-flex-row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.highlight {
  stroke: $highlight !important;
  fill: $highlight !important;
}

.center-align {
  align-items: center;
}